body {
  font: 14px "Century Gothic", Futura, sans-serif;
  height:100vh;
  width:100vw;
  max-width:1920px;
  max-height: 1080px;
}
.panel-controller {
  
  height: 50px;
  background-color: aqua;
  margin-top: 20px;
  border-radius: 10px;
}
#mid-layout{
  width: 66%;
  height:100%;
  background-color:pink;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}
.main_layout{
  background-color:blue;
  height:100vh;
  width: 100vw;
  margin:0px;
  padding: 0px;
}
#panel-left{
  float:left;
  width:15%;
  height:100%;
  background-color:brown;
}


#panel-navigation{
background-color:beige;
width:100%;
height:30%;
}


#panel-file-viewer{
  background-color:black;
  height: 70%;
  width:100%;
}
#img-placeholer{
  background-color:yellowgreen;
  height:100%;
  width:100%;
}
#panel-tools{
  background-color:red;
  width:18%;
  height:100vh;
  float:right;
}